<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression TestSuite">
<test name="Application Test">
	<classes>
		<class name="testNGTestCases.TestngTestCasesAssert"></class>
		<class name="testNGTestCases.TestngTestCasesSoftAssert"></class>
		<class name="testNGTestCases.TestngTestCases"></class>
</classes>
</test>
</suite>

